{% extends 'base.html' %}

{% block title %}
    <title>MainPage</title>
{% endblock %}

{% block script %}
<script>
    // function signOut() {
    //     var auth2 = gapi.auth2.getAuthInstance();
    //     auth2.signOut().then(function () {
    //       console.log('User signed out.');
    //   });
    // }
    // // function onLoad() {
    // //     gapi.load('auth2', function() {
    // //       gapi.auth2.init();
    // //     });
    // // }
</script>
{% endblock %}

{% block body %}
<div style="text-align:center">
    <h1>Hello User</h1>
    {{ data.id }}
    {{ data.name }}
    {{ data.email }}
    {{ data.gender }}
    <a href="/logout/">Sign out</a>
</div>
{% endblock %}
